<div class="p-6 max-w-lg mx-auto bg-white rounded-xl shadow-lg mt-6">
    <h2 class="text-2xl font-semibold text-gray-700 mg-4">Nova Lugar</h2>

    <form id="lugarForm" [formGroup]="camposForm" (ngSubmit)="salvar()" class="space-y-4">

        <div class="mb-4">
            <!--Campo nome-->
            <label for="nome" class="block text-gray-600 font-medium mb-2">Nome</label>
            <input type="text"
                   id="nome"
                   name="nome"
                   formControlName="nome"
                   class="w-full p-3 border border-green-300 rounded  shadow-sm focus:ring  focus:ring-blue-400"
                   placeholder="Ex: Restaurantes, Praias, Shopping">
            @if (isCampoInvalido('nome')) {
                <span class="text-red-500 text-sm">Campo obrigatório</span>
            }
        </div>

        <div class="mb-4">
            <!--Campo categoria-->
            <label for="categoria" class="block text-gray-600 font-medium mb-2">Categoria</label>
        </div>

        <div class="mb-4">
            <!--Campo localizacao-->
            <label for="localizacao" class="block text-gray-600 font-medium mb-2">Localização</label>
            <input type="text"
                   id="localizacao"
                   name="localizacao"
                   formControlName="localizacao"
                   class="w-full p-3 border border-green-300 rounded  shadow-sm focus:ring  focus:ring-blue-400"
                   placeholder="Ex: Restaurantes, Praias, Shopping">
            @if (isCampoInvalido('localizacao')) {
                <span class="text-red-500 text-sm">Campo obrigatório</span>
            }
        </div>

        <div class="mb-4">
            <!--Campo urlFoto-->
            <label for="urlFoto" class="block text-gray-600 font-medium mb-2">URL Foto</label>
            <input type="text"
                   id="urlFoto"
                   name="urlFoto"
                   formControlName="urlFoto"
                   class="w-full p-3 border border-green-300 rounded  shadow-sm focus:ring  focus:ring-blue-400"
                   placeholder="Ex: Restaurantes, Praias, Shopping">
            @if (isCampoInvalido('urlFoto')) {
                <span class="text-red-500 text-sm">Campo obrigatório</span>
            }
        </div>

        <div class="mb-4">
            <!--Campo avaliacao-->
            <label for="avaliacao" class="block text-gray-600 font-medium mb-2">Avaliação</label>
        </div>

        <button type="submit"
                class="w-full bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition duration-300">
            Cadastrar Lugar
        </button>

    </form>
</div>

